<!-- app/views/title_basics/index.html.erb -->
<h1>IMBD Table</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>Genre</th>
      <th>Average Rating</th>
      <th>Number of Votes</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.primarytitle %></td>
        <td><%= movie.titletype %></td>
        <td><%= movie.startyear %></td>
        <td><%= movie.endyear %></td>
        <td><%= movie.genres %></td>
        <td><%= movie.rating&.averagerating %></td>
        <td><%= movie.rating&.numvotes %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @movies %>
