<!-- app/views/title_basics/index.html.erb -->
<div class="w-full overflow-x-auto">
  <%= paginate @movies, window: 0, left: 1, right: 1 %>
  <table class="w-full table table-xs table-zebra">
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Release Year</th>
      <th>Runtime</th>
      <th>Genre</th>
      <th>Average Rating ⭐</th>
    </tr>
  </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.id.to_i + 1 %></td>
          <td><%= movie.primarytitle %></td>
          <td><%= movie.startyear %></td>
          <td><%= movie.runtimeminutes%>min</td>
          <td><%= movie.genres %></td>
          <td>
            <%= movie.rating&.averagerating %>
            <span class="text-slate-500">(<%= movie.rating&.numvotes %> votes)</span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
